doctype html
html(lang='en', ng-app='mainApp')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        title Agenda
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet' href='/custom.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
        script(src='bower_components/angular/angular.js')
        script(src='bower_components/angular-animate/angular-animate.js')
        script(src='bower_components/angular-route/angular-route.js')
        script(src='bower_components/angular-resource/angular-resource.js')
        script(src='/js/angular-cookies/angular-cookies.js')
        script(src='js/app.js')
        script(src='js/controllers/mainCtrl.js')
        script(src="bower_components/angular-smart-table/dist/smart-table.js")

    body(ng-controller="MainController")
        div(ng-model="companies" ng-init="companies=#{JSON.stringify(companies)}")
        div(ng-model="totalcount" ng-init="totalcount=#{JSON.stringify(companies)}.length")
        div(ng-model="_screens" ng-init="_screens=#{JSON.stringify(screens)}")
        div.row
            div.col-md-2
            div.col-lg-8.text-center
                label(for="Screen") Screen
                    select.form-control(ng-model="curscreen")
                        option(ng-repeat="screen in screens" value="{{screen._id}}") {{screen.title}}
            div.col-md-2
        div.row
            div.col-md-2
            div.col-md-8
                a.glyphicon-triangle-bottom.glyphicon(href="#" id="screener" ng-click="toggle(this)") Open Quick Screener
                input(ng-model="searchkey" type="hidden")
                input(ng-model="search[searchkey]" type="hidden")
                form.form-inline(id="filter-form")
                    fieldset
                        div.form-group
                            button.btn.btn-primary.btn-sm(ng-click="addFilter()") Add new rule
                        div.form-group
                            span &nbsp;&nbsp;&nbsp;&nbsp;Total: {{totalcount}}
                    fieldset(ng-repeat="rule in currentFilters")
                        div.form-group
                            select.form-control(ng-model="currentFilters[rule.index]['field1']['value']")
                                each val, index in fields1
                                    option(value=index)= val
                        div.form-group(ng-if="currentFilters[rule.index]['field2']['hidden']")
                            select.form-control(disabled="disabled" ng-model="filter[rule.index]['field2']['value']" id="{{rule.index}}_fields2")
                                each val, index in fields2
                                    option(value=index)= val
                        div.form-group(ng-if="!currentFilters[rule.index]['field2']['hidden']")
                            select.form-control(ng-model="currentFilters[rule.index]['field2']['value']" id="{{rule.index}}_fields2")
                                each val, index in fields2
                                    option(value=index)= val
                        div.form-group
                            input.form-control(ng-model="currentFilters[rule.index]['field3']['value']" type="text")
                        div.form-group(ng-if="!currentFilters[rule.index]['field4']['hidden']")
                            select.form-control(ng-model="currentFilters[rule.index]['field4']['value']")
                                each val, index in fields3
                                    option(value=index)= val
                        div.form-group(ng-if="currentFilters[rule.index]['field4']['hidden']")
                            select.form-control(disabled="disabled" ng-model="currentFilters[rule.index]['field4']['value']")
                                each val, index in fields3
                                    option(value=index)= val
                        div.form-group
                            span.matches Matches: {{currentFilters[rule.index]['matches']}}
                        div.form-group
                            input(ng-if="currentFilter==rule.index" checked ng-model="currentFilter" type="radio" value="{{rule.index}}" name="activefilter" ng-change="filterSwitched(rule.index)")
                            input(ng-if="currentFilter!=rule.index" ng-model="currentFilter" type="radio" value="{{rule.index}}" name="activefilter" ng-change="filterSwitched(rule.index)")
                        div.form-group
                            a.glyphicon.glyphicon-remove(ng-click="removeRule(rule.index)")
                    fieldset
                        div.form-group
                            button.btn.btn-primary.btn-sm(data-toggle="modal" data-target="#saveRooles") Save
            div.col-md-2
        div.row
            div.col-md-2
            div.col-md-8
                table.table.table-striped(st-table="companies")
                    thead
                        tr
                            th(colspan=5)
                                input.input-sm.form-control(st-search placeholder="search..." type="search")
                        tr
                            th cik
                            th Symbol
                            th Name
                            th Exchange
                    tbody
                    tr(ng-repeat="company in (filtered = (companies|filter:search)) as results")
                        td {{company.cik}}
                        td {{company.symbol}}
                        td {{company.name}}
                        td {{company.exchange}}
                    tfoot
                        tr
                            td(colspan=5)
                                div(st-pagination="" st-items-by-page="5" st-template="/partials/pagination.custom.html")
            div.col-md-2
            div.modal.fade(id="saveRooles" tabindex="-1" role="dialog")
                div.modal-dialog
                    div.modal-content
                        div.modal-header
                            button.close(type="button" data-dismiss="modal" aria-label="Close")
                                span(aria-hidden="true") &times;
                            h4.modal-title Save rules
                        div.modal-body
                            p
                                label(for="ruleName") Name: &nbsp;&nbsp;&nbsp;&nbsp;
                                input(type="text" name="ruleName" id="ruleName" ng-model="newRuleName")
                        div.modal-footer
                            button.btn.btn-default(type="button" data-dismiss="modal") Close
                            button.btn.btn-primary(type="button" ng-click="saveScreen()") Save changes